html{
    background: rgb(52,105,186);
    background: linear-gradient(0deg, rgba(52,105,186,1) 0%, rgba(84,66,107,1) 100%);
    font-family: 'Josefin Slab', serif;
    color:black;
}



.Head{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 25px;
    color: #e9f1f7;
}

nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: rgb(230,234,255);
    background: radial-gradient(circle, rgba(230,234,255,1) 0%, rgba(255,255,255,1) 100%);
        a{
            text-decoration: none;
            color: #5a6063;
            font-weight: bold;
            font-size: large;
            padding: 2px;
        }
    }

.Innerbox{
   background-color: #e9f1f7;
   margin-right: 50px;
   margin-left: 50px;
   margin-bottom: 75px;
}



footer{
    color: #e9f1f7;
    display: flex;
    justify-content: space-evenly;
    .Contact{
        margin-left: 25%;
    }
}
.button{
    background-color: white;
    color: black;
    border: 2px solid rgba(84,66,107,1);
    font-weight: bold;
    text-decoration: none;  
}

